Images/
Masks/
SBVPI/
README_dataset.md
SBVPI_Gender_Age_Colour.txt
data.csv
output/
problematic_images/
train_images/
vessels_only/
sclera_only/
segmented_sclera/
sclera_only_normalized_main/
sclera_only_normalized_full/
